<!DOCTYPE html>
<html lang="pt-br">

    <%- include ('../partials/head'); %>

<body class="bg-page">
    
    <%- include ('../partials/header'); %>

    <main>

        <%- include ('../partials/indice_questions'); %>

        <form action="" id="questions">

            <%- include ('../partials/question_1'); %>

            <%- include ('../partials/question_2'); %>

            <%- include ('../partials/question_3'); %>

            <%- include ('../partials/question_4'); %>

        </form>
    </main>

    <!--Arrow Button next -->
    <svg>
        <symbol id="arrow-right" viewBox="0 0 20 10">
            <path d="M14.84 0l-1.08 1.06 3.3 3.2H0v1.49h17.05l-3.3 3.2L14.84 10 20 5l-5.16-5z"></path>
        </symbol>
    </svg>
    <!--Final Arrow Button next -->

</body>
</html>